*.suo
*.user
Hosts.Core/bin/
Hosts.Core/obj/
Hosts.Core.Test/bin/
Hosts.Core.Test/obj/
HostEditorGui/bin/
HostEditorGui/obj/
Hosts.WPF/bin/
Hosts.WPF/obj/
HostsEditor/bin/
HostsEditor/obj/
packages/
*~
*.bak
*.swp
*.pdb
*.dll
*.exe
